* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*
 *
 * Common
 * 
 */

.container {
  width: 100%;
  max-width: 960px;
  background-color: white;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


/*
 *
 * Header
 *
 */

.header-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-bottom-style: outset;
}

.header-logo {
  max-width: 72px;
  height: 72px;
}

.header-title {
  font-weight: 100;
  font-size: 1.5em;
  color: #212121;
  text-align: right;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin: 0 auto;
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px 0;
  text-transform: uppercase;
}

.nav-menu {
  display: none;
}

.nav a {
  text-decoration: none;
  color: #747704;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

.drop-menu {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: Roboto;
  font-size: 18px;
  font-color: white;
  position: absolute;
  z-index: 36;
  display: none;
}

.drop-list {
  -webkit-padding-start: 0;
  margin: 0;
}

.drop-item {
  border-top: 1px solid gray;
  padding: 4px 15px;
}

/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin: 0 auto;
}

/*
 *
 * Cover
 *
 */

.cover-title {
  color: white;
}

.cover {
  float: left;
  width: 100%;
  position: relative;
  background: -webkit-image-set( url('../images/cover_1x.jpg') 1x, url('../images/cover_2x.jpg') 2x );
  background-size: cover;
  height: 400px;
  margin-bottom: 20px;
}

.cover article {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  color: #fff;
}

/*
 *
 * Feature
 *
 */

.feature {
  width: 100%;
}

.feature-row {
  display: flex;
  flex-wrap: wrap;
}

.feature-col {
  width: 33%;
}

.feature-title {
  color: #bcbbbb;
}

.thumbnail {
  padding-left: 10px;
  width: 100%;
}

.feature-text {
  text-align: center;
  min-width: 1.5em;
  min-height: 1.5em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px) and (min-width: 385px) {
  .header-title {
    font-size: 1em;
  }

  .header-logo {
    height: 48px;
  }

  .cover {
    max-height: 200px;
    margin-bottom: 10px;
  }

  .thumbnail {
    width: 100%;
    max-height: 100px;
  }

  .nav-item {
    display: none;
  }

  .nav-menu {
    padding: 0;
    display: block;
  }

  .drop-menu.open {
    display: block;
  };
}

@media screen and (max-width: 384px) {
  .header-title {
    font-size: 1em;
  }

  .header-logo {
    height: 48px;
  }

  .nav-item {
    display: none;
  }

  .nav-menu {
    padding: 0;
    display: block;
  }

  .drop-menu.open {
    display: block;
  }

  .cover {
    max-height: 200px;
    margin-bottom: 10px;
  }

  .feature-col {
    width: 100%;
  };
}